body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(30%);
    z-index: 0;
}
h1{
    color: white;
    line-height: 1;
    letter-spacing: 0.211em;
    font-size: 3em;
}
h1, button {
    position: relative;
    z-index: 1;
}
.preloader{
    position :fixed;
    top:0; 
left: 0;
right:0;
bottom:0;
display:grid;
justify-content: center;
align-items:center;
z-index: 1;
background-color: white;
transition:0.3s linear;

}