body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background:linear-gradient(to left bottom ,lightgreen ,lightblue);
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;  
}
.container{
    background:rgba(255,255,255,.3);
    padding:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    margin: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
}
.heading{
    font-size: 30px;
}
.input{
    padding:10px;
    font-size:16px;
    background:rgba(255 ,255,255,.4);
    border-color: rgba(255 ,255,255,.4);
    margin:10px;
}
.btn{
    background-color: lightgreen;
    border: none;
    padding: 10px ,20px ;
    margin:10px;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 0 0 4px rgba(0,0,0,.3);
    cursor: pointer;
}
#calculateBtn{
padding: 10px 20px;
}
.btn:hover{
    box-shadow: 0 0 8px rgba(0, 0, 0,.3);
    transition: all 300ms ease;
}
.info-text{
    font-size: 20px;
    font-weight: 500;
}